<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8" />
    <meta name="csrf-token" content="{{ csrf_token() }}" />
    <title>{{ _("Login") }}</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='auth.css') }}"
    />
  </head>

  <body>
    <div class="overlay-content">
      <div class="auth-container">
        <h1>{{ _("Login") }}</h1>

        {% with messages = get_flashed_messages(with_categories=true) %} {% if
        messages %}
        <div class="alert-area">
          {% for category, message in messages %}
          <div class="alert alert-{{ category }}">{{ message }}</div>
          {% endfor %}
        </div>
        {% endif %} {% endwith %}

        <form method="POST">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

          <input
            type="text"
            name="username"
            placeholder="{{ _('Email or Username') }}"
            required
          />

          <input
            type="password"
            name="password"
            placeholder="{{ _('Password') }}"
            required
          />

          <button type="submit" class="btn-primary">{{ _("Login") }}</button>
        </form>

        <p style="text-align: center; margin-top: 18px">
          {{ _("Don't have an account?") }}
        </p>

        <a href="{{ url_for('auth.register') }}" class="btn-secondary">
          {{ _("Register") }}
        </a>
      </div>
    </div>
  </body>
</html>
