<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8" />
    <meta name="csrf-token" content="{{ csrf_token() }}" />
    <title>Register</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='auth.css') }}"
    />
  </head>

  <body>
    <div class="overlay-content">
      <div class="auth-container">
        <h1>Register</h1>

        {% with messages = get_flashed_messages(with_categories=true) %} {% if
        messages %}
        <div class="alert-area">
          {% for category, message in messages %}
          <div class="alert alert-{{ category }}">{{ message }}</div>
          {% endfor %}
        </div>
        {% endif %} {% endwith %}

        <form method="POST">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

          <input type="text" name="username" placeholder="Username" required />
          <input
            type="text"
            name="full_name"
            placeholder="Full name"
            required
          />
          <input type="email" name="email" placeholder="Email" required />
          <input
            type="password"
            name="password"
            placeholder="Password"
            required
          />
          <input
            type="password"
            name="confirm_password"
            placeholder="Confirm Password"
            required
          />

          <select name="role" required>
            <option value="client">Client</option>
            <option value="nurse">Nurse</option>
          </select>

          <button type="submit" class="btn-primary">Register</button>
        </form>

        <p style="text-align: center; margin-top: 14px">Or register with:</p>

        <a href="{{ url_for('google.login') }}" class="google-btn">
          Register with Google
        </a>

        <p style="text-align: center; margin-top: 18px">
          Already have an account?
        </p>

        <a href="{{ url_for('auth.login') }}" class="btn-secondary"
          >Login here</a
        >
      </div>
    </div>
  </body>
</html>
